@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.neon-effect{
  text-shadow: 0 0 10px #f6f9f9, 0 0 20px #f7fafb, 0 0 30px #f5f8f9, 0 0 40px #f0f5f7, 0 0 70px #0d5869, 0 0 80px #00d1ff, 0 0 100px #00d1ff, 0 0 150px #00d1ff;
}
